<% layout('layout') %>
<div class="wrap">
    <table style="width:500px;margin:0 auto;border:black 2px solid">
        <tr>
            <th>商品</th>
            <th>單價</th>
            <th>數量</th>
        </tr>
        <tr>
            <td>1</td>
            <td>2</td>
            <td>3</td>
        </tr>
    </table>

</div>