<% layout('layout') %>

<div class="header">
        <h2>登入</h2>
        <div class="content">
            <form action="/member/logindone" method="post">
                <input type="text" placeholder="帳號" name="uid"><br>
                <input type="password" placeholder="密碼" name="upwd"><br>
                <button class="submit">登入</button>
                <p><%= message %></p>
            </form>
        </div>
        
</div>

